<!DOCTYPE html>
<html>
<body>

<h1> Vertex Technosys, Solapur </h1>
 
<marquee behavior="scroll" bgcolor="yellow" loop="-1" width="11%">
  <i><font color="blue">
  <strong>Welcome</strong> Today's date is : </font></i>
</marquee> 
<label for="start">Start date:</label>

<input type="date" id="start" name="trip-start" value="2023-10-08" min="2023-01-01" max="2023-12-31" />



</body>
</html>