<!DOCTYPE html>
<html>
<body>

<h1> Vertex Technosys, Solapur </h1>
 
<marquee behavior="scroll" bgcolor="yellow" loop="-1" width="30%">
  <i><font color="blue">
  <strong>Welcome</strong> Today's date is : </font></i>
</marquee> 


</body>
</html>